name: CodeClimate Test Coverage

on:
  push:
    branches:
      - python-coverage

jobs:
  codeclimate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install -r backend/requirements.txt
          pip install coverage

      - name: Run tests
        run: |
          coverage run backend/manage.py test backend
          coverage xml

      - name: Upload test coverage to CodeClimate
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        run: |
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter
          ./cc-test-reporter before-build
          ./cc-test-reporter format-coverage coverage.xml -t coverage.py
          ./cc-test-reporter upload-coverage
