name: CodeClimate Test Coverage

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]

jobs:
  codeclimate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Create .env file
        run: |
          echo "POSTGRES_DB=test_money" >> .env
          echo "POSTGRES_USER=test_moneyuser" >> .env
          echo "POSTGRES_PASSWORD=test_temp_moneypass" >> .env
          echo "DB_HOST=db" >> .env
          echo "DB_PORT=5432" >> .env

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Run setup
        run: make setup

      - name: Generate coverage XML
        run: make coverage-xml

      - name: Upload test coverage to CodeClimate
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
        run: |
          ls ./backend
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter
          ./cc-test-reporter before-build
          ./cc-test-reporter format-coverage --prefix ./backend -t coverage.py ./backend/coverage.xml
          ./cc-test-reporter upload-coverage
