name: Django Docker Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Create .env file
        run: |
          echo "DB_NAME=test_money" >> /.env
          echo "DB_USER=test_moneyuser" >> /.env
          echo "DB_PASSWORD=test_temp_moneypass" >> /.env
          echo "DB_HOST=db" >> /.env
          echo "DB_PORT=5432" >> /.env

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Run setup and tests
        run: make setup test
